.container {
    display: flex;
    gap: 300px;
}

.memberBlock img{
    max-width: 30%;
}

.left {
    margin-top: 30%;
    border-style: solid;
    border-width: 1px;
    width: 60%;
}

.right {
    width: 40%;
}

.leftinner {
    padding: 5%;
}

.footerContainer {
    display: flex;
}

.footer {
    margin:auto;
    width: 100%;
    text-align: center;
}

ul {
    display: inline-block; 
    margin: auto;
    text-align: center;
}