
/* Comment out when trying to see without background color */

        .container1 {
            background-color: yellow;
        }
        .left {
            background-color: green;
        }
        .right {
            background-color: purple;
        }

/* End of background color */


.banner {
    width: 100%;
    height: 10vh;
    background-color: red;
}

.container1 {
    display: flex;
    padding: 3px;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #2196F3;
    padding: 10px;
}

.gridItem {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.sortContainer { 
    display: flex;
    justify-content: flex-end;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .colors {
      display: flex;
      justify-content: center;
      gap: 3px;
  }

  .colorDot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    /* color: white;
    background-color: #000; */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }